body { margin:0; font-family:verdana }

section {
    position: relative;
    height: 100vh;
}
.one {
    background: tomato;
}
.two {
    background: teal;
}
.three {
    background: orange;
}
.left-half, .right-half {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
}
.right-half {
    background: #fff;
    left: 50%;
    right: 0;
    overflow: hidden;
    padding-bottom: 2%;
}
.two .right-half {
    /*background: #ddd;*/
}
.right-half div {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 2% 5%;
    margin-right: -17px; /* scrollbar offset */
}
.left-half span {
    font-size: 7em;
    font-size: calc(7vw + 7vh + 5vmin);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 50%;
    z-index: 999;
}